*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
PushSDK/build/generated/assets/
PushSDK/build/generated/res/
PushSDK/build/generated/source/aidl/
PushSDK/build/generated/source/r/
PushSDK/build/generated/source/rs/
PushSDK/build/intermediates/assets/
PushSDK/build/intermediates/blame/
PushSDK/build/intermediates/bundles/debug/aidl/
PushSDK/build/intermediates/bundles/debug/assets/
PushSDK/build/intermediates/bundles/debug/res/
PushSDK/build/intermediates/bundles/release/aidl/
PushSDK/build/intermediates/bundles/release/assets/
PushSDK/build/intermediates/bundles/release/res/
PushSDK/build/intermediates/dependency-cache/
PushSDK/build/intermediates/lint/
PushSDK/build/intermediates/manifest/tmp/
PushSDK/build/intermediates/res/merged/
PushSDK/build/intermediates/rs/
PushSDK/build/intermediates/shaders/
PushSDK/build/intermediates/symbols/
PushSDK/build/tmp/
app/libs/
app/src/androidTest/
app/src/main/res/drawable/
app/src/test/
framework-fxtv/src/main/res/drawable-ldpi/
framework-fxtv/src/main/res/drawable-nodpi/
framework-fxtv/src/main/res/values-v14/
src/main/res/drawable-ldpi/
src/main/res/drawable-nodpi/
src/main/res/values-v14/
